<!-- header -->
<%- include("partials/header.ejs") %>

<!-- body -->
<nav class="navbar">
  <a href="/work">Work List</a>
  <a href="/">Personal List</a>
</nav>
<div class="container-body">
  <div class="list-container">
    <ul>
        <% if(locals.todos){ %>
          <% todos.forEach(function(todo){ %>
            <li class="item">
              <form action="/delete" method="post">
                <input type="checkbox" onchange="this.form.submit()" value="<%= todo._id %>" name="cb" id="cb" class="cb" /><span><%= todo.name %></span>
              </form>
            </li>
          <% }) %>
        <% } %>
            <form action="/add" method="post">
                <input type="text" name="newTodo" id="new-todo" />
                <button type="submit" name="list" value="<%= list %>" class="add-button">+</button>
            </form>
    </ul>
  </div>
</div>

<!-- footer -->
<%- include("partials/footer.ejs") %>